<div class="tab-pane fade" id="response-tab-pane" role="tabpanel" aria-labelledby="response-tab" tabindex="0">
  <div class="prereq-card">
    <p><%= compatible_response&.notes %></p>
  </div>
</div>
