<div class="tab-pane fade py-3 show active" id="draft-tab-pane" role="tabpanel" aria-labelledby="draft-tab" tabindex="0">
  <div class="cards">
    <% if params[:query].blank? %>
      <%= link_to new_tender_path, class: 'text-decoration-none' do %>
        <div class="card-pick bg-secondary-subtle">
          <h5 class="text-center vertical-center fw-semibold">+ Create New Tender</h5>
        </div>
      <% end %>
    <% end %>
    <% @tenders.where(published: false).reverse.each do |tender| %>
      <div class="card-pick">
        <%= render 'tenders/card', tender: tender%>
      </div>
    <% end %>
  </div>
</div>
