    
<ul class="nav tabs-underlined" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <span class="nav-link tab-underlined active" id="draft-tab" data-bs-toggle="tab" data-bs-target="#draft-tab-pane" role="tab" aria-controls="draft-tab-pane" aria-selected="true">Draft</span>
  </li>
  <li class="nav-item" role="presentation">
    <span class="nav-link tab-underlined" id="published-tab" data-bs-toggle="tab" data-bs-target="#published-tab-pane" role="tab" aria-controls="published-tab-pane" aria-selected="false">Published</span>
  </li>
  <li class="nav-item" role="presentation">
    <span class="nav-link tab-underlined" id="conversations-tab" data-bs-toggle="tab" data-bs-target="#conversations-tab-pane" role="tab" aria-controls="conversations-tab-pane" aria-selected="false">Closed</span>
  </li>
</ul>
