<div class="tab-pane fade py-3" id="published-tab-pane" role="tabpanel" aria-labelledby="published-tab" tabindex="0">
  <div class="cards">
    <% @tenders.where(published: true).reverse.each do |tender| %>
      <div class="card-pick">
        <%= render 'tenders/card', tender: tender %>
      </div>
    <% end %>
  </div>
</div>
