<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-6">
        <% @tenders.each do |tender| %>
          <%= render "tenders/card", tender: tender  %>
        <% end %>
    </div>
  </div>
</div>
<div class="container">
</div>
