<%= link_to tender_path(tender), class: "text-decoration-none" do %>
  <div class="">
    <div class="text-black">
      <p>Projects: <%= tender.title %></p>
    </div>
    <div class="" style="text-decoration: none;">
      <%= link_to 'Submissions', tender_submissions_path(tender),
                                class: "text-black",
                                style: "text-decoration: none;" %>
    </div>
  </div>
<% end %>
