<%= link_to tender_path(tender), class: "text-decoration-none" do %>
  <div class="card shadow-sm hover-shadow-1g">
    <div class="card-body">
      <%= tender.title %>
    </div>
  </div>
<% end %>
