<%= link_to tender_path(tender), class: "text-decoration-none" do %>
  <div class="card shadow-sm hover-shadow-1g">
    <div class="card-body">
      <%= tender.title %>
    </div>
    <div style="text-decoration: none;">
      <%= link_to 'Submissions', tender_submissions_path(tender)  %>
    </div>
  </div>
<% end %>
