<div id="p-bar" class="progress rounded-pill mb-3" style="padding:5px; background-color:rgb(228, 231, 233); height: 24px">
  <div class="progress-bar bg-primary rounded-pill"
            role="progressbar"
            style='width: <%= tender.completed_percent %>%;'
            aria-valuemin="0"
            aria-valuemax="100">
  </div>
</div>
