<div class="container">
  <div class="cards my-3">
    <% @tenders.each do |tender| %>
      <%= render "tenders/card", tender: tender  %>
    <% end %>
  </div>
</div>
<div class="container">
</div>
