<div class="container">
  <% @tenders.each do |tender| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h2><%= tender.title %></h2>
        <p><%= tender.synopsis %></p>
      </div>
    </div>
  <% end %>
</div>
