<body class="background-gray">
  <div class="submission-page">
    <div class="onboarding-card vertical-align">
      <h1>Import Tender</h1>
      <%= render 'tender_form' %>
    </div>
  </div>
</body>
