<div class="navbar-animation">
  <a class="navbar-animation-section" href="#">
    <%# <%= image_tag 'firefly-heart', style: 'max-width: 75px; height: auto;', class: 'ms-5' %>
    <h2 class="navbar-animation-brand ms-3" >Custom CSS navbar</h2>
  </a>
  <div class="navbar-animation-section">
    <div class="navbar-animation-menu">
      <a href="#">CSS tricks</a>
      <a href="#">Design gems</a>
    </div>
    <div class="navbar-animation-profile">
      <%# <%= image_tag 'firefly-logo.png' %>
      <ul>
        <li><a href="#">Profile</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </div>
</div>
