<div class="flex-row row-md-4 py-4 ">
  <div class="sidebar p-3" style="width:25%">
    <ul>
      <div class="text-nowrap">
        <%= link_to root_path, class: 'd-flex' do  %>
          <p class="pe-3"><i class="fa-solid fa-house"></i></p>
          <p>Home</p>
        <% end %>
      </div>
      <%= link_to root_path, class: 'd-flex' do  %>
        <div class="text-nowrap">
          <p class="pe-3"><i class="fa-solid fa-house"></i></p>
          <p>Profile</p>
        <% end %>
      </div>
      <%= link_to root_path, class: 'd-flex' do  %>
        <div class="text-nowrap">
          <p class="pe-3"><i class="fa-solid fa-house"></i></p>
          <p>Create Tender</p>
        <% end %>
      </div>
    </ul>
  </div>
</div>
