<div class="tab-pane fade" id="team-tab-pane" role="tabpanel" aria-labelledby="team-tab" tabindex="0">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Job Title</th>
        <th scope="col">Compatible Response</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% if compatible_response && compatible_response.compatible_employees.any? %>
        <% compatible_response.compatible_employees.each do |compatible_employee| %>
          <tr>
            <td><%= compatible_employee.employee.name %></td>
            <td><%= compatible_employee.employee.job_title %></td>
            <td><%= compatible_employee.why_compatible %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>No employees found yet...</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
