<h1>SelectedPrerequisites#edit</h1>
<p>Find me in app/views/selected_prerequisites/edit.html.erb</p>
<%= simple_form_for(@selected_prerequisites) do |f| %>
  <%= f.input :description %>
  <%= f.input :approved %>
  <%= f.submit 'Submit', class: 'btn btn-success mt-2' %>
<% end %>
