<%= turbo_frame_tag :edit_prereq do %>
  <%= render "selected_prerequisites/edit_frame", selected_prerequisite: @selected_prerequisite %>
  <%= render "selected_prerequisites/analysis_section", selected_prerequisite: @selected_prerequisite %>
<% end %>
<div class="card card-body">
  <%= @selected_prerequisite.suggested_rewrite %>
</div>
