<div class="container my-5">
  <%# Progress Bar %>
  <%# <%= render "tenders/progress_bar", tender: @tender %>
  <%# Selected Prereq Index Sidebar and Edit Frame%>
  <div class="row">
    <%# Selected Prereq Index Sidebar%>
    <div class="col-4 vh-75 border border-dark">
      <%= render "submissions/cr_index", submission: @submission %>
    </div>
    <%# Selected Prereq Edit Frame%>
    <div class="col-8 vh-100 border border-dark overflow-scroll">
      <%= turbo_frame_tag :edit_prereq do %>
        <div class="container my-3">
          <h3> Project Synopsis</h3>
          <p> <%= @submission.tender.synopsis %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
