<div class="tab-pane fade py-3 show active" id="draft-tab-pane" role="tabpanel" aria-labelledby="draft-tab" tabindex="0">
  <div class="cards">
    <% @submissions.where(published: false).reverse.each do |submission|%>
      <div class="card-pick">
        <%= render 'bidder/submissions/submission', submission: submission %>
      </div>
    <% end %>
  </div>
</div>
