hr {
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #000000;  /* old IE */
  background-color: #000000;  /* Modern Browsers */
  margin-bottom: 34px;
}

.card-pick {
  display: flex;
  flex-direction: column;
  height: 255px;
  width: 425px;
  border-radius: .5rem 2rem;
  background-color: white;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-color: rgba(24, 24, 27, 0.08);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  h5{
    padding-top: 115px;
  }
  h6 {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
}
.card-pick img {
  width: 100%;
  min-height: 100px;
  flex-grow: 1;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 4px 4px 0 0;
}
.card-pick-info {
  padding: 24px 16px;
}
.card-pick-info h2 {
  margin: 0;
}
.card-pick:hover {
  transition: 0.2s ease-out;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.1);
  border-color: rgba(24, 24, 27, 0.08);
  outline: 3px solid $purple;

}
.vertical-center {
  padding-top: 75px;
}
