.card-pick {
  display: flex;
  flex-direction: column;
  height: 175px;
  width: 425px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.1);
  // border: 1px solid $light-gray;
  cursor: pointer;
  border-color: rgba(24, 24, 27, 0.08);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-pick img {
  width: 100%;
  min-height: 100px;
  flex-grow: 1;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 4px 4px 0 0;
}
.card-pick-info {
  padding: 24px 16px;
}
.card-pick-info h2 {
  margin: 0;
}
.card-pick:hover {
  transition: 0.2s ease-out;
  // transform: translateY(-8px);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.1);
    border-color: rgba(24, 24, 27, 0.08);

  outline: 3px solid rgba(116, 31, 162, 0.589);
}
.vertical-center {
  padding-top: 75px;

}
