.submission-page{
  display: flex;
  justify-content: center;
}
.onboarding-card{
  width: 360px;
  height: 400px;
  border: 1px solid black;
  border-radius: 1.5rem;
  overflow: visible;
  padding: 20px
}
