// .score-circle {
//   background-color: black;
// }
.single-chart {
  width: 45%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 45%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.c-score-green .circle {
  stroke: #0b5a04;
}

.circular-chart.c-score-red .circle {
  stroke: #da0428;
}

.circular-chart.c-score-yellow .circle {
  stroke: #c1d40f;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.overal_score {

}
